@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

#content {
    max-width: 100%;
    margin: 0 auto;
}
nav a{
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 35px;
}
#hero-msg h1, #hero-msg h4{
    text-align: center;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}
body {
    background-color: white; 
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
}
header {
    background-color:rgba(20,30,13, .7);
}
nav a:hover {
    background-color: rgb(47, 84, 47);
    color: #d9c2a3
}
.book, .join{
    background-color: grey;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover{
    background-color: #d9c2a3;
    color: black;
}
#background{
    background-color: beige;
}
.msg{
    background-color: rgb(142, 147, 143);
}
footer{
    background-color: rgb(142, 147, 143);
    color: black;
    text-decoration: none;
    padding: 25px 50px;
    margin-top: 200px;
}
.home-title{
    background-color: white;
    color: black;
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
h4{
    background-color:white;
    color: black;
}
.msg h2{
    background-color: #6f7364;
    color: black;
}
.msg p{
    background-color: #6f7364;
    color: black;
    font-size: 20px;
    padding-bottom: 15px;
    font-family: Raleway, Arial, sans-serif;
}
footer a{
    background-color: rgb(142, 147, 143);
    color: black;
}
footer a:hover{
    background-color: #d9c2a3;
    color: black;
}
#hero-img {
    width: 100%;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
footer p a:hover{
    text-decoration: underline;
}
.msg {
    background-color: #6f7364;
    line-height: 1.5em;
    padding: 35px;
}
#logo_link{
    padding-top: 5px;
}
footer .social img{
    padding-top: 15px;
}
.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}
.card-img{
    border: 10px solid #d9c2a3;
}
main section img{
    box-sizing: border-box;
}